*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #ffffff;
	width: 100%;
	height: 90px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

footer {
	background-color: green;
	padding: 5px;
	opacity: 0.80;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 5px;
}

nav {
	float: right;
	padding: 20px;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px;
}

article{
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: bold;
}

article img {
	width: 5em;
}

h1,h2{
	font-family: Verdana, Geneva, sans-serif;
}


.list-item {
	width: 2em;

}

.logo {
	margin: 7px 0 7px 0 ;
	padding: 0 ;
	width: 300px;
}

.menu-icon{
	display: hidden;
	width: 38px;
	height: 38px;
	background: url(images/bars.svg) no-repeat center;
}

.picture {
	max-width: 959px;
	height: 300px;
	justify-content: inherit;
	align-items: inherit;
	display: block;
	overflow: hidden;
}

.photo img {
	width: 100% ;
	display: block ;
}

.bio img{
	width: 130px;
	height: 200px;
	border-radius: 120px;
	display: inline;
	margin: 20px;
}

.page{
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	margin-top: 5px;
}

.bio {
	border: 5px solid #bdbdbd;
	height: auto;
}

.website {
	border: 5px #e65100;
	border-style: solid hidden solid solid;
}

.ecommerce {
	border: 5px #7cb342;
	border-style: solid hidden solid hidden;
}

.seo {
	border: 5px #00bcd4;
	border-style: solid solid solid hidden;
}


/* Mobile */
@media only screen and (max-width: 400px) {
	.website,
	.ecommerce,
	.seo{
		border-style: solid;
		margin: 5px;
	}
	.bio, .picture{
		margin:  5px;
	}
	.logo{
	margin: 7px 0 7px 0 ;
	padding: 0 ;
	width: 220px;
	}
	header{
	height: 70px;
	border: 2px black;
	border-style: hidden solid solid hidden ;
	}
	nav{
	padding:  15px 10px 0 0 ;
		}
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.website,
	.ecommerce {
		width: 50%;
	}
	.website{
		border-style: solid hidden solid solid;
	}.ecommerce{
		border-style: solid solid solid hidden;
	}
	.seo{
		border-style: solid;
		margin-top: 5px;
	}
	header{
		height: 80px;
	}
	footer{
		height: 50px;
	}
}

/* Desktop */
@media only screen and (min-width: 961px){
	.page {
		width: 960px;
		margin: 0 auto;
		}
	.website,
	.ecommerce,
	.seo {
		width: 33.3%;
		}
	.header {
		height: 400px;
		}
	.bio {
		order: 2;
		}
	footer{
		height: 100px;
		order: 3;
	}
}

@media only screen and (max-width : 641px) {

header {

	position: sticky;

}
.menu-icon {

	display:inline-block;

}
.menu-icon:hover {
	background-color: pink;
}
nav ul, nav:active ul {

	display: none;
	position: absolute;
	padding: 20px;
	background: #fff;
	border: 5px solid #444;
	right: 10px;
	top: 60px;
	width: 30%;
	border-radius: 4px 0 4px 4px;

}

nav li {
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
}

nav:hover ul {
	padding: 0;
	display: block;
}

}